@model IEnumerable<WebAuctions.ViewModels.UserVM>


<!DOCTYPE html>
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<div class="container">
    <h2>Manage Users</h2>


    <!-- User Table -->
    <div class="user_table">
        <!-- Center the "Load Users" button -->
        <div style="text-align: center;">
        </div>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>

                @for (var i = 0; i < Model.Count(); i++)
                {
                    var user = Model.ElementAt(i);
                    var roles = user.Roles;
                    string rolesString = "";
                    for (int j = 0; j < roles.Count; j++)
                    {
                        if (j + 1 != roles.Count)
                            rolesString += roles[j] + ", ";
                        else
                            rolesString += roles[j];
                    }
                    <tr>
                        <td>@user.UserName</td>
                        <td>@rolesString</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Remove User Section -->
    <div class="remove_user">
        <h3>Remove User</h3>
        <form asp-action="Index">
            <!-- Input fields for removing a user -->
            <input type="hidden" name="action" value="removeUser">
            <input type="text" name="removeUserUsername" placeholder="Username" required>
            <button type="submit">Remove</button>
        </form>
        <!-- Display the action result message -->
        <p></p>
    </div>


</div>