<!DOCTYPE html>
<link rel="stylesheet" href="~/css/accountPage.css" asp-append-version="true" />
<div class="order-table">
    <h2>UserName Account Screen</h2>
    <h2>Current Auctions</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Bid</th>
                <th>Time left</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <!-- This is where you will dynamically populate the order data rows -->
            <tr>
                <td><></td>
                <td><></td>
                <td><></td>
                <td><></td>
                <td><></td>
            </tr>
        </tbody>
    </table>
    <h2>Auctions Won</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>End Price</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <!-- This is where you will dynamically populate the order data rows -->
            <tr>
                <td><></td>
                <td><></td>
                <td><></td>
                <td><></td>
            </tr>
        </tbody>
    </table>
    <a href="logout.jsp" class="purchase-button">Log Out</a>
</div>