<!DOCTYPE html>
<link rel="stylesheet" href="~/css/auctions.css" asp-append-version="true" />
<h2 class="title">Auctions</h2>
<div class="auction-items">
    <!-- Display auction items here -->
    <div class="auction-item">
        <img src="images/logo.jpg" alt="Item Image">
        <h3>Item Name 1</h3>
        <p class="current-bid">Current Bid: $100</p>
        <p class="time-left">Time Left: 2 hours</p>
        <button class="place-bid-button">Place Bid</button>
    </div>

    <div class="auction-item">
        <img src="images/logo.jpg" alt="Item Image" >
        <h3>Item Name 2</h3>
        <p class="current-bid">Current Bid: $75</p>
        <p class="time-left">Time Left: 4 hours</p>
        <button class="place-bid-button">Place Bid</button>
    </div>

    <div class="auction-item">
        <img src="images/logo.jpg" alt="Item Image">
        <h3>Item Name 2</h3>
        <p class="current-bid">Current Bid: $75</p>
        <p class="time-left">Time Left: 4 hours</p>
        <button class="place-bid-button">Place Bid</button>
    </div>

    <div class="auction-item">
        <img src="images/logo.jpg" alt="Item Image">
        <h3>Item Name 2</h3>
        <p class="current-bid">Current Bid: $75</p>
        <p class="time-left">Time Left: 4 hours</p>
        <button class="place-bid-button">Place Bid</button>
    </div>

    <div class="auction-item">
        <img src="images/logo.jpg" alt="Item Image">
        <h3>Item Name 2</h3>
        <p class="current-bid">Current Bid: $75</p>
        <p class="time-left">Time Left: 4 hours</p>
        <button class="place-bid-button">Place Bid</button>
    </div>

    <div class="auction-item">
        <img src="images/logo.jpg" alt="Item Image">
        <h3>Item Name 2</h3>
        <p class="current-bid">Current Bid: $75</p>
        <p class="time-left">Time Left: 4 hours</p>
        <button class="place-bid-button">Place Bid</button>
    </div>

    <div class="auction-item">
        <img src="images/logo.jpg" alt="Item Image">
        <h3>Item Name 2</h3>
        <p class="current-bid">Current Bid: $75</p>
        <p class="time-left">Time Left: 4 hours</p>
        <button class="place-bid-button">Place Bid</button>
    </div>

    <div class="auction-item">
        <img src="images/logo.jpg" alt="Item Image">
        <h3>Item Name 2</h3>
        <p class="current-bid">Current Bid: $75</p>
        <p class="time-left">Time Left: 4 hours</p>
        <button class="place-bid-button">Place Bid</button>
    </div>

    <!-- Add more auction items as needed -->
</div>
