/* Define styles for the auction page */
.auction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auction-image {
    margin-top: 30px;
    max-width: 100%;
    border: 5px solid #007b1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auction-details {
    text-align: center;
    padding: 20px;
    border: 2px solid #007b1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
    background-color: #fff;
}

.auction-title {
    font-size: 28px;
    margin: 10px 0;
    color: #007b1f;
}

.auction-description {
    font-size: 18px;
    color: #333;
}

.auction-bid {
    font-size: 20px;
    margin: 10px 0;
}

.auction-duration {
    font-size: 18px;
}

.description-editor {
    margin-top: 20px;
    text-align: center;
}

.edit-description-title {
    font-size: 22px;
    margin-bottom: 10px;
    color: #007b1f;
}

.description-input {
    width: 80%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 20px;
}

.save-button {
    background-color: #007b1f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
}

    .save-button:hover {
        background-color: #0056b3;
    }

/* Previous Bids Section Styles */
.previous-bids {
    margin-top: 20px;
    text-align: center;
}

.previous-bids-title {
    font-size: 22px;
    margin-bottom: 10px;
    color: #007b1f;
}

.bid-list {
    list-style: none;
    padding: 0;
}

.bid-item {
    font-size: 18px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* CSS styles for the form section */
.form-group {
    margin-bottom: 20px;
}

.control-label {
    font-weight: bold;
}

.form-control {
    width: 70%; 
    margin: 0 auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; 
    font-family: Arial, sans-serif;
    color: #333;
}

    .form-control:focus {
        border: 2px solid #007b1f;
        outline: none;
    }

.text-danger {
    color: #d9534f; /* Red color for validation errors */
}

.btn-primary {
    background-color: #007b1f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }
